*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;

}
.main{
    padding: 0;
    margin:0 75px;

}

section{
    box-sizing: content-box;
}
.irl_sec{
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
    padding: 57px 0 92px;
}

.irl_h2 {
    text-align: center;
    color: black;
    font-size: 38px;
    line-height: 1.1em;
    margin-bottom: 12px;
}

.irl_p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 auto 35px;

}

.irl_img{
    display: block;
    width: 100%;
}

.insta-div-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    padding: 86px 0 50px;
}
.insta-link:hover{
    background-color: black;
    color: white;

}
.insta-title{
    vertical-align: baseline;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.insta-sec{
    display: block;
   

}
.insta-div{
    text-align: right;
}
.insta-items{
    
    display: flex;
    justify-content: space-between;
 
}
.insta-item{
    width: 23.8%;
    
}
.insta-img{
    width: 100%;
}
.insta-link{
    color: black;
    width: 225px;
    height: 41px;
    line-height: 41px;
    border: 2px solid black;
    border-width: 1px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}


.insta-img{
    width: 89%;
}

/*
.insta-logo{
    width: 19px;
    height: 19px;
    margin-right: 10px;
    position: relative;
    top: 4px;
    display: inline-block;


} */
.sec8{
    height: 32vw;
    text-align: center;

}
.sec8-button{
    margin: 0;
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid #fff;
    width: 225px;
    padding: 10px 0; 
    line-height: 22.652px;
    display: inline-block;
    color: white;
    transition-property:color;
    position: center;

}
.sec8-button:hover{
    background-color: white;
    color: black;
}
.sec8-img{
    width: 100%;
}
.sec8-heading{
    text-align: center;
    color: white;
    font-size: 38px;
    margin: 40px;
    font-weight: 400;
}


